@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="my-3">
    <h2 class="lead">
        <i class="fa fa-solid fa-bars text-secondary"></i>
        Categoies
    </h2>
</div>

<ul class="list-group my-3">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <a asp-action="Index" asp-route-categoryId="@category.CategoryId">
                @category.CategoryName
            </a>
        </li>
    }
</ul>

