@model List<StoreApp.Models.Product>
@{
    ViewData["Title"] = "Index";
}

@foreach(StoreApp.Models.Product product in Model)
{
    <div>
        <h2>@product.ProductName</h2>
        <p>@product.Price</p>
        <p>
            <a href="/Product/Get/@product.ProductId">Get Details</a>
        </p>
        <hr />
    </div>
}
