<footer class="footer bg-light fixed-button">
    <div class="container text-center">
        <p>&copy; 2024 Story App</p>
        <p>Designed with <i class="fas fa-heart"></i> by Çetin Yazıcı</p>
    </div>
</footer>
