<footer class="footer bg-dark fixed-button">
    <div class="container text-center text-white">
        <p>&copy; 2024 Story App Admin Panel</p>
        <p>Designed with by Çetin Yazıcı</p>
    </div>
</footer>
