@page
@model StoreApp.Pages.DemoModel
@{
}

<div class="my-5 text-center">
    <div class="display-6">
        Hello @Model?.FullName
    </div>
    <form method="post" asp-page="/demo" >
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Enter your name.."/>
            <input class="btn btn-primary my-3" type="submit"/>
        </div>
    </form>
</div>